<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Control</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of emps;let i=index">
      <td>{{i}}</td>
      <td>{{e.id}}</td>
      <td>{{e.firstName}}</td>
      <td>{{e.lastName}}</td>
      <td><button type="button" (click)="deleteOne(e.id)"> - </button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td><input #firstName type="text" name="firstName" size="5"></td>
      <td><input #lastName type="text" name="lastName" size="5"></td>
      <td><button type="button" (click)="addOne(firstName.value, lastName.value)">등록</button></td>
    </tr>
  </tfoot>
</table>
